<div class="container mt-4">
    <h2 class="text-center mb-4">Formulario</h2>


    <form action="/cadd" method="post">
        <!-- Primera fila -->
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Ejemplo Luis Gonzales">
            </div>
            <div class="col-md-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="Ingresa tu teléfono">
            </div>
            <div class="col-md-2">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingresa tu correo">
            </div>
            <div class="col-md-2">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" name="fecha" id="fecha">
            </div>
            <div class="col-md-2">
                <label for="cedula" class="form-label">Ced/pass</label>
                <input type="text" class="form-control" name="cedula" id="cedula" placeholder="cedula o pasaporte">
            </div>

        </div>

        <!-- Segunda fila -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="fecha2" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha2">
            </div>
            <div class="col-md-4">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu dirección">
            </div>

            <div class="col-md-4">
                <label for="nivel" class="form-label">Nivel</label>
                <select class="form-select" id="nivel" aria-label="Default select example">
                    <option selected>Selecciona un nivel</option>
                    <option value="alto">revisar</option>
                    <option value="medio">revisado</option>
                    <option value="bajo">retirado</option>
                </select>
            </div>



        </div>

        <div class="row mb-3">
            <div class="mb-3">
                <label for="nota" class="form-label">Nota importante </label>
                <textarea class="form-control" name="nota" id="nota" rows="3"
                    placeholder="agregar alguna nota de precaucuion sobre el cliente"></textarea>
            </div>

        </div>

        <!--  fila  4 -->
        <div class="row mb-3">

            <div class="col-md-4">


                <label for="saldo" class="form-label">gasto</label>
                <input class="form-control" type="number" step="0.01" name="saldo" id="saldo"
                    placeholder=" gasto total del cliente">


            </div>

        </div>




        <!-- Botón de enviar -->
        <div class="form-group mt-4 d-grid gap-2">
            <button class="btn btn-success"> Crear</button>
        </div>
    </form>
</div>